body {
  background: url(https://image.freepik.com/free-vector/blue-cloudy-daylight-background-weather-design_33099-512.jpg)
    #faf1e6;
  background-size: 100%;
  color: #334257;
  font-family: "Farro", sans-serif;
}
h1 {
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  font-weight: 400;
  list-style: none;
}
.search-form {
  margin-bottom: 20px;
}
.weather-app-wrapper {
  margin: 50px auto;
  max-width: 700px;
}
.weather-app {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(150, 142, 142);
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;

  padding: 25px;
}

.city {
  font-size: 50px;
  font-weight: 500;
}
.sun-icon {
  display: block;
  height: 64px;
  margin: 5px auto;
  width: 64px;
}
.weather-discrition {
  text-align: center;
}
.temperature {
  font-size: 50px;
}
.units {
  position: relative;
  top: -23px;
}
.weather-forecast {
  border-top: 2px solid #005792;
  margin: 10px auto;
  padding: 12px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 15px;
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.monday {
  border-right: 2px solid #005792;
}
.weather-temperature {
  float: right;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
